.score_wrapper {
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    box-shadow: 0px 2px 4px 0px #00000005;
    border-radius: 5px;
}

.score_title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 0.9375em;
    font-weight: 600;
}

.inner-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 50%;
    width: 9.3em;
    height: 9.3em;
    top: 22%
}

.score-text {
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.sub-text {
    text-align: center;
    width: 50%;
    font-weight: 600;
    color: #74798c;
    line-height: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 780px) and (max-height: 780px) {
    .score_wrapper {
        margin-left:200px;
    }
}