.session_wrapper {
    position: relative;
    background-color: var(--graph-red-color);
    width: 260px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000005;
}

.session_title {
    position: absolute;
    text-align: left;
    color: #FF8181;
    padding: 20px;
    font-size: 14px;
    width: 80%;
}

.custom-tooltip {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border: none;
}

.custom-tooltip .label {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 780px) and (max-height: 780px) {
    .session_wrapper {
        width: 100%;
        height: 200px;
    }

    .session_title {
        padding: 10px;
        font-size: 12px;
    }

    .custom-tooltip {
        padding: 3px 8px;
    }

    .custom-tooltip .label {
        font-size: 10px;
    }
}