.session_wrapper {
    position: relative;
    background-color: var(--graph-red-color);
    width: 260px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000005;
}

.session_title {
    position: absolute;
    text-align: left;
    color: #FF8181;
    padding: 20px;
    font-size: 14px;
    width: 80%;
}