.nutrition_card_wrapper {
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 0px 2px 4px 0px #00000005;
    padding: 0 20px 0 20px;
    gap: 10px
}

.nutrition_icon_wrapper {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.nutrition_icon_wrapper img {
    height: 50px;
    width: 50px;
    
}

.nutrition_values_wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.nutrition_values_wrapper p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.nutrition_values_wrapper span {
    color: var(--grey-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

@media (min-width: 1025px) {
    .nutrition_card_wrapper {
        justify-content: space-between;
        width: 14.8em;
        height: 6.5em;
        padding: 0;
        gap: 0px
    }

    .nutrition_icon_wrapper img {
        height: 60px;
        width: 60px;
    }
}