* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --graph-red-color: #ff0000;
  --primary-color: #020203;
  --secondary-color: #FF0101;
  /* --background-color: #fbfbfb; */
  /* --background-color: #f4f4f4; */
  --background-color: #fafafa;
  --grey-color: #74798c;
  --fontSize-m: 1.5em
    /* 24px */
}

body {
  font-family: 'Roboto', sans-serif;
}